body{
    margin: 0;
 background-color: white;
   

  
}

.box1{
    width: 700px;
    height: 450px;
    background-color:rgb(255, 255, 255);
    position: relative;
    left: 360px;
    top: 120px;
    border-radius: 20px;
    border: 4px solid #7C4585;
}




.T1{
    position: absolute;
    top: 145px;
    left: 60px;
    height: 15px;
    width: 200px;
    border: 3px solid#7C4585;

    border-radius: 15px;
    padding: 10px 15px;
    
}
.T2{
    position: absolute;
    top: 255px;
    left: 60px;
    height: 15px;
    width: 200px;
    border-radius: 15px;
    border: 3px solid#7C4585;
    padding: 10px 15px;
}


.B1
{
    position: absolute;
    top: 359px;
    left:110px;
    border-radius: 10px;
    width: 130px;
    height: 40px;
    background-color: white;
    color: #7C4585;
    font-weight: bold;
    font-size: 15px;
    border:3px solid#7C4585;
}
.img1{
    position: absolute;
    width: 380px;
    height: 380px;
    left: 300px;
    top: 45px;
}
.B1:hover
{
    background-color: #7C4585;
    color: white;
    cursor: pointer;
}
.H11{
    position: absolute;
    left:90px;
    top: 10px;
    color: #7C4585;
}
.Signup{
    position: absolute;
    top: 400px;
    left: 78px;
    color: grey;
    
}
.signup1{
    text-decoration: none;
    color: blue;
    
}
.T3{
    position: absolute;
    top: 90px;
    left: 60px;
    height: 15px;
    width: 200px;
    border: 3px solid#7C4585;

    border-radius: 15px;
    padding: 10px 15px;
}
.T4{
    position: absolute;
    top: 200px;
    left: 60px;
    height: 15px;
    width: 200px;
    border-radius: 15px;
    border: 3px solid#7C4585;
    padding: 10px 15px;
}
.T6{
    position: absolute;
    top: 305px;
    left: 60px;
    height: 15px;
    width: 200px;
    border-radius: 15px;
    border: 3px solid#7C4585;
    padding: 10px 15px;
}

